.car-details{
    width: 100%;
    border-radius: 10px !important;
    background: linear-gradient(#d4e8fa, #6495ED);
}
.car-details-btn{
    border: none;
    background-color: #2d60be;
    color: white;
    padding:8px 15px;
    border-radius: 10px;
}
.car-details-btn:hover{
    background-color: #d4e8fa;
    color: black;
}
.car-details .delivered-btn{
    background-color: #2d60be;
    color: white; 
    border: none;
    padding: 8px 15px;
    border-radius: 10px;
}
.car-details .delivered-btn:hover{
    background-color: #b6c7e7;
    color: black;
}
.form-container .increase-btn{
    border-radius: 0;
}

@media only screen and (max-width:576px) {
    .car-details{
       width: 90%;
       margin: 0 auto;
    }
    .car-details img{
        width: 100%;
        height: auto;
    }
    
}

@media only screen and (min-width: 577px) and (max-width: 992px) {
    .car-details{
        width: 100%;
    }
    .car-details img{
        width: 100%;
        height: auto;
     
    }
    .car-details h4{
        font-size: 18px;
    }
    .car-details .details{
        font-size: 15px;
    }
}